.container{
        width: 400px;
        background-color: aliceblue;
        padding: 20px;
}

input{
    width: 100%;
    padding: 3px;
    margin: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
}

button{
    justify-content: flex-end;
    border: 1px solid lightgray;
    border-radius: 5px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 15px 0;
}

.list > li{
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
}